/* Farver og fonte */
:root {
    --backgroundColor: #FFFFFF; 
    --color1: #EEEDEB;
    --color2: #D0884D; 
    --color3: #83806D; 
    --color4: #676981; 
    --textColor: #353432; 
}

@font-face {
    font-family: 'Cormorant-regular';
    src: url(../fonts/Cormorant-Regular.woff2);
}
@font-face {
    font-family: 'Cormorant-medium';
    src: url(../fonts/Cormorant-Medium.woff2);
}
@font-face {
    font-family: 'Cormorant-semibold';
    src: url(../fonts/Cormorant-SemiBold.woff2);
}
@font-face {
    font-family: 'AnticDidone-Regular';
    src: url(../fonts/AnticDidone-Regular.woff2);
}

/* Generel style */

html {
    line-height: 1.5;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
}

img {
    max-width: 100%;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 20px;
    font-family: 'AnticDidone-Regular';
    font-size: clamp(2.1em, 6vw, 4.8em);
}

h2 {
    margin: 0;
    font-family: 'AnticDidone-Regular';
    font-size: clamp(1.5em, 5vw, 3.8em);
    font-weight: 400;
}

h3 {
    font-family: 'AnticDidone-Regular';
    font-size: 1.5em;
    font-weight: 400;
}

p {
    font-family: 'Cormorant-regular';
    font-size: 1.2em;
}

.text_width {
    margin: 25px 25px 0 25px;
}
.text_width2 {
    margin: 25px 25px 0 25px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--textColor);
}

.btn {
    cursor: pointer;
    width: fit-content;
}
.btn a{
    color: var(--textColor);
    font-family: 'Cormorant-medium';
}

.generel_padding {
    padding: 30px 60px;
}

.bg_color {
    background-color: var(--color1);
}

.padding_top {
    padding: 70px;
}

/* Navigation */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 14px 40px;
    z-index: 1000;
}

.logo img {
    width: 28px;
    height: 40px;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 40px;
}

.menu a {
    color: var(--textColor);
    font-family: 'AnticDidone-Regular';
    font-size: 1.2em;
    padding-bottom: 8px;
}

.menu a:hover {
    color: var(--color4);
    border-bottom: 1px solid var(--color4);
}

.burger {
    width: 27px;
    height: 20px;
    cursor: pointer;
  }
  
.burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--textColor);
    margin-bottom: 5px;
    transition: 0.3s linear;
}
.burger {
    display: none;
}

/* Home */

#h1_home {
    margin-top: 60px;
    padding: 0;
}
#h2_home {
    margin-bottom: 30px;
}

.btn_home {
    margin-bottom: 60%;
    border: 2px solid var(--color3);
    background-color: var(--backgroundColor);
    padding: 16px 13px;
}
.btn_home a {
    font-size: 1em;
}
.btn_home:hover {
    background-color: var(--color3);
}

.blade {
   width: 90%;
   z-index: -1;
   position: absolute;
   top: 30%;
   left: 5%;
}

/* Portfolio */

.section_gap {
    margin-bottom: 3%;
    position: relative;
}

#sf_tema2 {
    position: absolute;
    top: 240px;
    right: 230px;
    width: 14%;
}
#sf_tema3 {
    position: absolute;
    top: 10px;
    right: 140px;
    width: 12%;
}
#sf_tema4 {
    position: absolute;
    top: -10px;
    right: 450px;
    width: 13%;
}
#sf_tema5 {
    position: absolute;
    top: -10px;
    right: 100px;
    width: 12%;
}

.hr_portfolio {
    margin: 20px 440px 70px 0;
}
#hr_tema3 {
    margin-right: 350px;
}
#hr_tema4 {
    margin-right: 710px;
}
#hr_tema5 {
    margin-right: 330px;
}

.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 15px;
    height: fit-content;
    margin: 25px;
}
.scroll-container img {
    padding: 5px;
    width: auto;
    height: 300px;
}
.blue {
    background-color: var(--color4);
}
.green {
    background-color: var(--color3);
}
.arrow {
    position: absolute;
    top: 55%;
    left: 47.5%;
    border: solid var(--textColor);
    border-width: 0 1.3px 1.3px 0;
    display: inline-block;
    padding: 5px;
    margin: 2px 5px;
}
.right {
    transform: rotate(-45deg);
}
#a2 {
    top: 53%;
}
#a3 {
    top: 54%;
}
#a4 {
    top: 51%; 
}

.btn_blue {
    border: 1px solid var(--color4);
    background-color: var(--color1);
    padding: 15px 35px;
    margin-top: 4%;
}
.btn_blue a {
    font-size: 1.4em;
}
.btn_blue:hover {
    background-color: var(--color4);
}

.btn_green {
    border: 1px solid var(--color3);
    background-color: var(--backgroundColor);
    padding: 15px 35px;
    margin-top: 4%;
}
.btn_green a {
    font-size: 1.4em;
}
.btn_green:hover {
    background-color: var(--color3);
}

.btn_gap {
    display: flex;
    gap: 15px;
}
.btn_small {
    padding: 15px 25px;
}
.btn_small a {
    font-size: 1em;
}

/* About */

.generel_padding2 {
    padding: 20px 120px;
    height: 90vh;
}

#img_about{
    padding-left: 35px;
}

hr {
    border-top: .5px solid var(--textColor);
    margin-bottom: 40px;
}
#hr_cv {
    margin: 0 680px 50px 140px;
}

.arrow2 {
    position: absolute;
    bottom: 2%;
    left: 47.5%;
    border: solid var(--textColor);
    border-width: 0 1.3px 1.3px 0;
    display: inline-block;
    padding: 7px;
    margin: 2px 5px;
}
.down {
    transform: rotate(45deg);
}

#h1_about {
    padding: 30px 0 0 140px;
}
#h3-1_about {
    padding-left: 140px;
}
#h3-2_about {
    padding-left: 30px;
    margin-top: 20px;
}

.erfaring_section {
    padding-left: 180px;
    width: 40%;
    position: relative;
}
.uddannelse_section {
    position: relative;
    padding-left: 65px;
    margin-bottom: 100px;
}
.erfaring_section p:first-of-type, .uddannelse_section p:first-of-type {
    font-weight: 700;
}
.erfaring_section p:last-of-type, .uddannelse_section p:last-of-type {
    margin-bottom: 40px;
}

#blomst {
    position: absolute;
    right: 120px;
    top: 150%;
    width: 33%;
    z-index: -1;
}

.dot1, .dot2{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--color2);
    border-radius: 50%;
    display: inline-block;
}
.vl1 {
    position: absolute;
    border-left: 2px solid var(--color2);
    height: 545px;
    left: 150px;
    top: 15px;
}
.pos1-1 {
    left: 141px;
    top: 3px;
}
.pos1-2 {
    left: 141px;
    top: 148px;
}
.pos1-3 {
    left: 141px;
    top: 378px;
}
.pos1-4 {
    left: 141px;
    top: 555px;
}
.vl2 {
    position: absolute;
    border-left: 2px solid var(--color2);
    height: 470px;
    left: 40px;
    top: 15px;
}
.pos2-1 {
    left: 31px;
    top: 5px;
}
.pos2-2 {
    left: 31px;
    top: 122px;
}
.pos2-3 {
    left: 31px;
    top: 238px;
}
.pos2-4 {
    left: 31px;
    top: 353px;
}
.pos2-5 {
    left: 31px;
    top: 470px;
}

.textbox_about {
    margin: 20px 20px 0 150px;
    background-color: var(--color1);
    width: 65%;
    height: fit-content;
    padding: 25px 40px;
    text-align: center;
}

/* Footer */

footer {
    position: relative;
    background-color: var(--color1);
    margin-top: auto;
    padding: 0 20px;
}

footer a:hover {
    color: var(--color4);
}

.sommerfugle {
    position: absolute;
    left: 50%;
    top: 32%;
}
.sommerfugle :first-child {
    width: 50%;
}
.sommerfugle :last-child {
    width: 30%;
}

.socials {
   display: flex;
   gap: 20px;
   margin-top: 35px;
}

.copyright {
    text-align: end;
    padding-right: 2%;
}

/* Desktop version */

@media screen and (min-width: 800px) {

    /* Home */

    .btn_home {
        margin-bottom: 20%;
        padding: 20px 20px;
    }
    .btn_home a {
        font-size: 1.5em;
    }

    .blade {
        position: absolute;
        width: 50%;
        left: 40%;
        top: 16%;
    }

    /* Portfolio */

    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4em;
    }
    .scroll-container {
        margin: 0;
        padding: 20px;
    }
    .text_width {
        width: 80%;
        margin: 0;
    }

    /* About */

    .text_width2 {
        width: 87%;
        margin: 0;
    }

    #text_about {
        grid-column: 2;
    }
    #img_about {
        grid-column: 1;
        grid-row: 1;
    }

    .grid_about {
        grid-column: 2;
    }
    .textbox_about {
        grid-column: 1;
        grid-row: 1;
    }

    /* Footer */

    .grid_1-1-1 {
        display: grid;
        grid-template-columns: 280px 350px 1fr;
        
        padding: 20px 30px 0 30px;
    }
    .sommerfugle {
        margin-top: 20px;
        position: inherit;
    }
    .sommerfugle :first-child {
        max-width: 100%;
    }
    
}

/* Mobil version */

@media screen and (max-width: 600px) {

    h1, h2, .btn_home, .btn_gap {
        margin-left: 25px;
    }

    /* Burger menu */

    .menu {
        display: none;
    }
    .burger {
        display: block;
    }

    .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
        transition: 0.3s linear;
    }
    .burger.active .line:nth-child(2) {
        opacity: 0;
        transition: 0.15s linear;
    }
    .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
        transition: 0.2s linear;
    }
    
    nav.active .menu {
        display: flex;
        flex-direction: column;
        background-color: var(--color1);
        padding-top: 90px;
        position: absolute;
        top: -30%;
        left: 0;
        width: 100%;
        height: 100vh;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: -1;
    }
    nav.active .menu div {
        display: inherit;
        margin: 100px 0;
    }
    nav.active .menu li {
        margin: 0;
        padding-bottom: 18px;
    }
    nav.active .menu a {
        margin: 0;
        font-size: 1.6em;
    }
    nav.active .menu a:hover {
        border-bottom: none;
    }

    /* Home */

    #h1_home {
        margin-top: 20px;
        padding: 0;
    }
    #h2_home {
        font-size: 2em;
    }

    /* Portfolio */

    h2 {
        margin-bottom: 15px;
    }
    .generel_padding {
        padding: 0 0 20px 0;
    }

    .hr_portfolio {
        margin: 0 25px 20px 25px;
    }
    #hr_tema3 {
        margin: 0 25px 20px 25px;
    }
    #hr_tema4 {
        margin: 0 25px 20px 25px;
    }
    #hr_tema5 {
        margin: 0 25px 20px 25px;
    }

    #sf_tema2 {
        position: absolute;
        top: 980px;
        right: 60px;
        width: 24%;
    }
    #sf_tema3 {
        position: absolute;
        top: 1010px;
        right: 60px;
        width: 24%;
    }
    #sf_tema4 {
        position: absolute;
        top: 950px;
        right: 60px;
        width: 24%;
    }
    #sf_tema5 {
        position: absolute;
        top: 1020px;
        right: 60px;
        width: 24%;
    }

    .scroll-container img {
        width: auto;
        height: 200px;
    }

    .arrow {
        top: 190px;
        left: 360px;
    }
    #a2 {
        top: 220px;
    }
    #a3 {
        top: 240px;
    }
    #a4 {
        top: 220px; 
    }

    .btn_blue {
        margin-bottom: 40px;
    }
    .btn_green {
        margin-bottom: 40px;
    }
    .btn_small {
        margin-bottom: 0;
        margin-top: 1%;
    }
    .btn_gap {
        font-size: .8em;
    }

    .h2_padding-top {
        padding-top: 30px;
    }
    #tema4 {
        padding-top: 40px;
    }

    /* About */

    .generel_padding2 {
        padding: 0;
        height: auto;
    }

    #img_about {
        padding: 10px 150px 50px 20px;
    }

    hr {
        margin: 0 25px 20px 25px;
    }
    #hr_cv {
        margin: 0 25px 20px 25px;
    }

    .arrow2, .down {
        display: none;
    }

    #h1_about {
        padding: 30px 0 0 0;
    }
    #h3-1_about {
        padding-left: 25px;
    }
    #h3-2_about {
        margin-top: 50px;
        padding-left: 25px;
    }
    .erfaring_section {
        padding: 0 25px 0 50px;
        width: auto;
    }
    .uddannelse_section {
        padding: 0 25px 0 50px;
        width: auto;
        margin-bottom: 40px;
    }
    .erfaring_section p, .uddannelse_section p {
        font-size: 1em;
    }
    .erfaring_section p:last-of-type, .uddannelse_section p:last-of-type {
        margin-bottom: 25px;
    }

    #blomst {
        right: 40px;
        top: 268%;
        width: 34%;
    }

    .dot1, .dot2 {
        height: 15px;
        width: 15px;
    }
    .vl1 {
        border-left: 1.5px solid var(--color2);
        height: 620px;
        left: 25px;
        top: 15px;
    }
    .pos1-1 {
        left: 18px;
        top: 3px;
    }
    .pos1-2 {
        left: 18px;
        top: 165px;
    }
    .pos1-3 {
        left: 18px;
        top: 445px;
    }
    .pos1-4 {
        left: 18px;
        top: 630px;
    }
    .vl2 {
        border-left: 1.5px solid var(--color2);
        height: 355px;
        left: 25px;
        top: 15px;
    }
    .pos2-1 {
        left: 18px;
        top: 5px;
    }
    .pos2-2 {
        left: 18px;
        top: 94px;
    }
    .pos2-3 {
        left: 18px;
        top: 182px;
    }
    .pos2-4 {
        left: 18px;
        top: 272px;
    }
    .pos2-5 {
        left: 18px;
        top: 357px;
    }

    .textbox_about {
        position: inherit;
        background-color: var(--color1);
        width: auto;
        padding: 20px;
        margin: 0 25px 70px 25px;
        text-align: center;
    }
    .textbox_about p {
        font-size: 1em;
    }

    /* Footer */

    footer div {
        padding: 4px;
    }
    footer h3 {
        font-size: 1.4em;
        line-height: 0.5;
    }
    footer p {
        font-size: 1.1em;
    }
    .socials {
        height: 40px;
    }

    .less_lineheight {
        line-height: .5;
    }
    .copyright {
        margin-top: 30px;
    }

    .sommerfugle {
        top: 25%;
    }
    .sommerfugle :first-child {
        width: 50%;
    }
    .sommerfugle :last-child {
        width: 30%;
    }

}